html,
body {
    width: 100%;
    height: 100%;
    color: white;
}

label {
    font-size: 15px;
}

button {
    font-size: 15px;
}

#header {
    background-color: #174D7E;
    width: 100%;
    height: 150px;

    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;

    position: fixed;
    top: 0;
}

#headline {
    float: left;
    font-size: 50px;
    margin-right: 200px;
    margin-top: 50px;
    color: #F39200;
    font-variant: small-caps;
}

.chart_headline {
    background-color: #3C3C3B;
    width: 100%;
    height: 60px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    color: white;
}

.chart {
    background-color: #575756;
    margin: 0;
    padding: 0;
}

.chart_container {
    width: 100%;
    height: calc(100% - 60px - 150px);
    padding: 0;
    overflow: auto;
}

#base_proportion_container {
    margin-bottom: 0px;
}

.dropdown {
    font-size: 15px;
    margin-top: 10px;
}

.dropdown-toggle {
    width: 160px;
}

.dropdown-menu {
    width: 160px;
}

div.tooltip {
    position: absolute;
    top: 0;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    background: white;
    color: black;
}

div.tooltip.tile {
    width: 140px;
    height: 32px;
}

div.tooltip.prop {
    width: 140px;
    height: 212px;
}

#slider {
    width: 100%;
    float: left;
    margin-top: 5px;
    color: white;
}

#slider_container {
    float: left;
    width: 30%;
    margin-top: 30px;
}

.noUi-connect {
    background-color: #343a40;
}

#refresh {
    width: 160px;
}

#cycleDisplay {
    float: left;
}

#ref_buttons {
    float: right;
    margin-top: 70px;
    margin-right: 70px;
}

.ref {
    width: 160px;
    margin-right: 10px;
}

#data_buttons {
    float: right;
    margin-top: 21px;
}

.noUi-pips {
    color: white;
}

#boxplot_header {
    margin-top: 150px;
}

.tick text{
    font-size: 13px;
}

#boxplot_headline {
    float: left;
}

#help {
    float: right;
    margin-right: 50px;
}

#helperModal {
    color: black;
}